#projects-wip{
	font-weight: normal;margin: 0px;color: #333a4b;padding-left: 211px;padding-top: 48px;font-family: georgia;font-size: 20;

}

.image-wip{padding-top:100px;height:220px;width:220px;margin:auto;padding-right: 256}
