#projects-wip{
	font-weight: normal;margin: 0px;color: #333a4b;padding-left: 211px;padding-top: 48px;font-family: georgia;font-size: 20;
}

body{padding: 0;margin: 0;background-color: #F9F9F9;width: 100%;height: 100%;font-family: 'Open Sans', 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;color: black;}
.image-wip{padding-top:100px;height:220px;width:220px;margin:auto;padding-right: 256;display:none;}
.proj-heading hr{margin-top: 0px;}
.proj-heading h1{font-weight: normal;margin: 0px;color: #333a4b;padding-left: 16px;}
.proj-heading hr{margin-top: 0px;}
.proj-head{text-decoration: underline;font-size: 20px;color: #333a4b}
.proj-body{margin:8px; line-height: 1.4em;}
.proj-technology{  margin: -16px; margin-left: 2px;}
.proj-technology ul{font-weight: 500;}
#page-head{padding:10px 4px;  margin-top: 45px;}
  